p
{

/*Content - Width and Height*/

width: 50%;


/*Border*/

border: 2px solid blue;

/*Padding*/

padding-left: 40px;

/*Margin*/
/*margin: 100px;*/
/*margin-top: 500px;*/
/*margin: 20px 40px 500px 100px;*/
margin: 0 auto 0 auto;

}